
.fusebox/
.hypothesis/
local_settings.py
*.exe
docs/_build/
pip-delete-this-directory.txt
env.bak/
*.sage.py
*.a
.tmp_versions/
.yarn/cache
*.d
.tern-port
*.lcov
*.egg
__pycache__/
.nuxt
lib-cov
*.dylib
*.py[cod]
.env
.next
pids
**/.vitepress/cache
modules.order
.rpt2_cache/
.env.local
.temp
.Python
*.so
.dynamodb/
.pyre/
.yarn/install-state.gz
.env.test.local
/site
*.seed
*.idb
*.o
.grunt
.rts2_cache_umd/
db.sqlite3
instance/
lerna-debug.log*
.docusaurus
.ipynb_checkpoints
venv/
*.mo
.cache
nosetests.xml
.spyderproject
*.i*86
.serverless/
celerybeat.pid
.cache/
*.manifest
.pdm-python
*.cover
yarn-debug.log*
*.mod*
cover/
.pdm.toml
*.pch
wheels/
.rts2_cache_es/
*.la
develop-eggs/
.coverage
*.cmd
.yarn/build-state.yml
*.py,cover
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.elf
lib/
bower_components
.env.production.local
*.su
*$py.class
.pytype/
*.obj
var/
build/Release
.env.development.local
.pytest_cache/
.pnpm-debug.log*
.webassets-cache
*.x86_64
eggs/
.tox/
parts/
.venv
.nox/
db.sqlite3-journal
.yarn/unplugged
.vuepress/dist
dmypy.json
*.out
.mypy_cache/
coverage.xml
*.pid
ENV/
out
.eggs/
*.hex
.spyproject
logs
yarn-error.log*
cython_debug/
coverage
pip-log.txt
*.lo
.nyc_output
.installed.cfg
*.so.*
.pybuilder/
.pdm-build/
celerybeat-schedule
.pnp.*
*.ko
*.tsbuildinfo
.rts2_cache_cjs/
dist
web_modules/
.coverage.*
lib64/
.pypirc
MANIFEST
build/
*.dSYM/
*.lib
npm-debug.log*
Mkfile.old
htmlcov/
*.pdb
target/
.scrapy
.lock-wscript
*.exp
.dmypy.json
*.egg-info/
*.pot
*.map
*.gch
profile_default/
__pypackages__/
venv.bak/
*.pid.lock
.ruff_cache/
.eslintcache
.stylelintcache
*.spec
.node_repl_history
.vscode-test
share/python-wheels/
.parcel-cache
.ropeproject
sdist/
ipython_config.py
Module.symvers
*.ilk
downloads/
*.tgz
dkms.conf
**/.vitepress/dist
*.app
dist/
.npm
node_modules/
*.log
env/
*.dll
jspm_packages/
.yarn-integrity
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `./.craft/selective_ignorance.sh git c,python,node` for https://github.com/Sarverott/desk-software.git with  [UNIXUSAT=1747172115410]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
