
ENV/
db.sqlite3-journal
htmlcov/
*.pid
.yarn/unplugged
build/
nosetests.xml
modules.order
Module.symvers
*.dylib
.coverage.*
.tern-port
.vuepress/dist
*.tsbuildinfo
*.lib
.spyproject
*.idb
bower_components
coverage.xml
.nuxt
env.bak/
.serverless/
*.pot
*.log
lib-cov
*.a
.coverage
.env.development.local
local_settings.py
dist/
lib64/
.node_repl_history
*.out
*.mod*
.env.local
.fusebox/
*.dll
.eggs/
eggs/
.docusaurus
out
.pdm.toml
*.pdb
venv.bak/
*.la
*.pch
logs
pip-delete-this-directory.txt
*.so.*
.Python
*.x86_64
*.egg-info/
.yarn-integrity
instance/
/site
*.py,cover
.next
*$py.class
.rts2_cache_umd/
parts/
*.spec
*.pid.lock
*.egg
*.exe
.ruff_cache/
.webassets-cache
ipython_config.py
__pycache__/
.rts2_cache_cjs/
.pnpm-debug.log*
downloads/
*.i*86
.tmp_versions/
.pypirc
.pytype/
jspm_packages/
db.sqlite3
.pdm-python
.env.test.local
*.dSYM/
*.py[cod]
*.lo
*.cover
.ipynb_checkpoints
.env
sdist/
.pyre/
.nyc_output
.ropeproject
.installed.cfg
.spyderproject
.scrapy
yarn-debug.log*
.parcel-cache
dmypy.json
.pdm-build/
.pnp.*
.npm
.tox/
*.obj
*.seed
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lerna-debug.log*
.yarn/install-state.gz
profile_default/
*.su
target/
MANIFEST
.cache
.mypy_cache/
*.ilk
*.exp
.pytest_cache/
docs/_build/
yarn-error.log*
.env.production.local
Mkfile.old
.stylelintcache
*.sage.py
.temp
var/
.rts2_cache_es/
pip-log.txt
build/Release
env/
pids
*.elf
**/.vitepress/dist
.grunt
*.gch
.lock-wscript
.rpt2_cache/
*.ko
*.mo
celerybeat-schedule
npm-debug.log*
web_modules/
.dmypy.json
*.o
**/.vitepress/cache
.eslintcache
*.d
*.lcov
coverage
*.tgz
node_modules/
*.manifest
lib/
__pypackages__/
.cache/
*.map
venv/
.hypothesis/
.vscode-test
.yarn/build-state.yml
celerybeat.pid
*.so
share/python-wheels/
cover/
.yarn/cache
wheels/
dkms.conf
dist
*.app
.venv
.pybuilder/
*.cmd
cython_debug/
develop-eggs/
.nox/
*.hex
.dynamodb/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `./.craft/selective_ignorance.sh git c,python,node` for https://github.com/Sarverott/desk-software.git with  [UNIXUSAT=1747171987011]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
