
*.dSYM/
.eggs/
.grunt
.coverage
.pdm-build/
bower_components
.yarn/cache
Module.symvers
.dynamodb/
*.hex
.yarn/install-state.gz
dmypy.json
.rts2_cache_cjs/
.docusaurus
.next
*.d
MANIFEST
venv.bak/
.pnp.*
.pdm.toml
*.pdb
*.a
profile_default/
.mypy_cache/
modules.order
db.sqlite3-journal
.pypirc
ipython_config.py
.ruff_cache/
.rts2_cache_umd/
instance/
*.spec
docs/_build/
__pycache__/
.webassets-cache
.env.development.local
*.elf
*.pid.lock
*.app
*.py[cod]
celerybeat-schedule
jspm_packages/
dist/
*.tgz
*.la
*.cmd
.yarn/unplugged
.hypothesis/
sdist/
.nuxt
share/python-wheels/
*.ko
/site
*$py.class
*.o
Mkfile.old
.node_repl_history
.nox/
node_modules/
.serverless/
*.py,cover
build/Release
.pytype/
.dmypy.json
.cache
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.venv
pip-log.txt
*.dylib
.rpt2_cache/
**/.vitepress/dist
.tox/
db.sqlite3
.stylelintcache
eggs/
*.exp
pids
*.log
.installed.cfg
env.bak/
.temp
.Python
.pytest_cache/
*.gch
*.idb
.tern-port
.env.test.local
.nyc_output
*.map
*.so.*
dist
lib64/
local_settings.py
.lock-wscript
web_modules/
*.mo
.pybuilder/
.coverage.*
.pyre/
logs
.tmp_versions/
*.seed
*.dll
.parcel-cache
celerybeat.pid
parts/
htmlcov/
downloads/
*.pot
*.pid
*.lib
*.egg-info/
nosetests.xml
*.egg
.vuepress/dist
.pnpm-debug.log*
.npm
.spyderproject
.cache/
lib/
*.cover
ENV/
.ropeproject
.scrapy
lib-cov
coverage.xml
lerna-debug.log*
.eslintcache
*.obj
yarn-error.log*
out
*.ilk
**/.vitepress/cache
env/
*.sage.py
venv/
.ipynb_checkpoints
develop-eggs/
*.x86_64
npm-debug.log*
.pdm-python
__pypackages__/
.env.local
.fusebox/
.vscode-test
cython_debug/
*.exe
*.so
.yarn/build-state.yml
*.tsbuildinfo
dkms.conf
wheels/
*.pch
build/
*.lcov
*.lo
pip-delete-this-directory.txt
*.su
.spyproject
*.i*86
.yarn-integrity
*.out
.env.production.local
*.mod*
*.manifest
yarn-debug.log*
coverage
var/
target/
.env
.rts2_cache_es/
cover/
# created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# GENERATED by (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf)->selective_ignorance.sh 
# based on resources delivered from repo gitignore by Github - https://github.com/github/gitignore
# [UNIXUSAT=1747170844164]
